<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>170715_Penpal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Paging</display-name>
    <servlet-name>Paging</servlet-name>
    <servlet-class>Paging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paging</servlet-name>
    <url-pattern>/Paging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>namnani</display-name>
    <servlet-name>namnani</servlet-name>
    <servlet-class>namnani</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>namnani</servlet-name>
    <url-pattern>/namnani</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileSearch</display-name>
    <servlet-name>ProfileSearch</servlet-name>
    <servlet-class>ProfileSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSearch</servlet-name>
    <url-pattern>/ProfileSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile_search_result</display-name>
    <servlet-name>Profile_search_result</servlet-name>
    <servlet-class>Profile_search_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile_search_result</servlet-name>
    <url-pattern>/Profile_search_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookmarkListServ</display-name>
    <servlet-name>BookmarkListServ</servlet-name>
    <servlet-class>BookmarkListServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookmarkListServ</servlet-name>
    <url-pattern>/BookmarkListServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendListServ</display-name>
    <servlet-name>FriendListServ</servlet-name>
    <servlet-class>FriendListServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendListServ</servlet-name>
    <url-pattern>/FriendListServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendFriendListServ</display-name>
    <servlet-name>SendFriendListServ</servlet-name>
    <servlet-class>SendFriendListServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFriendListServ</servlet-name>
    <url-pattern>/SendFriendListServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveFriendListServ</display-name>
    <servlet-name>ReceiveFriendListServ</servlet-name>
    <servlet-class>ReceiveFriendListServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveFriendListServ</servlet-name>
    <url-pattern>/ReceiveFriendListServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CutoutFriendListServ</display-name>
    <servlet-name>CutoutFriendListServ</servlet-name>
    <servlet-class>CutoutFriendListServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CutoutFriendListServ</servlet-name>
    <url-pattern>/CutoutFriendListServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberListForManagerServ</display-name>
    <servlet-name>MemberListForManagerServ</servlet-name>
    <servlet-class>MemberListForManagerServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListForManagerServ</servlet-name>
    <url-pattern>/MemberListForManagerServ</url-pattern>
  </servlet-mapping>
</web-app>